<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pushup1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,19}</string>
                <key>spriteSize</key>
                <string>{284,122}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{301,1},{284,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pushup10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{296,82}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,79},{296,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pushup11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-4}</string>
                <key>spriteSize</key>
                <string>{298,76}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{298,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pushup2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,18}</string>
                <key>spriteSize</key>
                <string>{286,118}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{295,287},{286,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pushup3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,16}</string>
                <key>spriteSize</key>
                <string>{288,114}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,575},{288,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pushup4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,13}</string>
                <key>spriteSize</key>
                <string>{290,110}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,357},{290,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pushup5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,11}</string>
                <key>spriteSize</key>
                <string>{290,104}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,469},{290,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pushup6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,8}</string>
                <key>spriteSize</key>
                <string>{292,100}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,255},{292,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pushup7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,6}</string>
                <key>spriteSize</key>
                <string>{292,96}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{415,297},{292,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pushup8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,4}</string>
                <key>spriteSize</key>
                <string>{294,90}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1,163},{294,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pushup9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,2}</string>
                <key>spriteSize</key>
                <string>{294,86}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{425,1},{294,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pushup.png</string>
            <key>size</key>
            <string>{512,690}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39e1a846b5ca704be2705be14e618eb3:d77d3077775a4dd4635a2b2e8f5133ae:df912171269463a5c8a58cf7855dea02$</string>
            <key>textureFileName</key>
            <string>pushup.png</string>
        </dict>
    </dict>
</plist>
